<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Tracking</display-name>

    <data-source>
        <name>java:ds/TrainerManagerDB</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://0.0.0.0:3307/TrainerManager?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
        <user>root</user>
        <password>root</password>
    </data-source>
</web-app>